/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
    width: 78%;
    margin: 0px auto;
}
.container{
	max-width: 78%;
	margin: 0px auto;
}
.navigation{
	color: gray;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

a{
	color: #D3D3D3;
    text-decoration: none;
}

.logo{
	display:flex;
}

header{
    display: flex;
	margin-top: 40px;
	text-align: center;
	width: 33%;
}

header div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    margin: 0 25%;
    align-items: center;

}
.header-container{
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-direction: column;
	
}
h1{
	font-size: 70px;
	display: flex;
	justify-content: center;
}
button{
	background-color: white;
    display: flex;
    justify-content: center;
	padding: 5px 38px;
	border: 1px solid black;
	width: 150px;
}
.code-circle{
	width: 100%;
}
.top-content{
	display: flex;
	justify-content: space-between;
	margin: 25px 0px 25px 0px;
}
.features{
	max-width:48%;
}
.middle-img{
    width: 100%;
}
.about{
	max-width:48%;
}
.bottom-content{
	display: flex;
	justify-content: space-between;
	margin: 25px 0px 25px 0px;
}
.services{
	max-width: 32%
}
.product{
	max-width: 32%;
}
.vision{
	max-width: 32%;
}
p{
	margin-bottom: 15px;
}
footer{
	text-align: center;
	margin: 50px;
}
hr{
	margin-top:75px;
}
.hr-2{
	margin-top:40px;
	margin-bottom:40px;
}

@media all and (max-width: 800px){
    body{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .code-circle{
        display: none;
        position: fixed;
    }
    .logo{
        position: absolute;
        margin-top: -67px;
        justify-content: center;
    }
    .navigation{
        margin-top: 102px;
    }
    header{
        margin-left: 18%;
    }

}

@media all and (max-width: 500px){
    .navigation{
        flex-direction: column;
        margin-left: -56px;
        margin-right: -55px;
    }
    a{
        border-bottom: 1px solid lightgray;
        justify-content: center;
        padding-left: 43%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%
    }
    #services{
        padding-top: 5%;
        border-top: 1px solid lightgray;
    }
    .logo{
        position: absolute;
        margin-top: -51%;
        margin-left: 31%;
    }
    .top-content{
        flex-direction: column;
    }
    .bottom-content{
        flex-direction: column;
    }
    .top-content div p{
        width:212%;
    }
    .bottom-content div p{
        width: 307%;
    }
    header{
        margin-left: 0%;
    }
    
}
